.card {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 340px;
  height: 340px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%);
}

.card-image {
  border-radius: 10px;
  height: 340px;
  object-fit: cover;
  width: 340px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, 0.5));
}

.card:hover {

  transform: scale(1.1);
}

.card-title {
  color: #fff;
  font-size: 18px;
  width: 80%;
  font-weight: 400;
  margin: 15px 10px;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 30px 40px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 335px;
    margin: 10px 0;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards-container a {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}