.slideshow {
    position: relative;
    padding-bottom: calc(415 / 1440 * 100vw);
    /* overflow: hidden; */
    width: 100%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow img {
    width: 100%;
    height: calc(415 / 1440 * 100vw);
    object-fit: cover;
    border-radius: 25px;
}

.arrows {
    display: flex;
    justify-content: space-around;
    gap: 80%;
    left: 0;
    right: 0;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.nbr {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 599px) {
    .slideshow {
        padding-bottom: calc(815 / 1440 * 100vw);
        min-height: 255px;
    }

    .slideshow img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .nbr {
        bottom: 0;
    }

    .arrows {
        gap: 65%;
    }

    .arrow svg {
        width: 38px;
        height: 48px;
    }
}