.cards-container {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 40px; /* Ajout de marge en haut */
  padding: 30px;
}


.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 340px;
  height: 340px;
  margin: 30px;
}

.card:hover {
}

.card-image {
  border-radius: 10px;
  height: 340px;
  object-fit: cover;
  width: 340px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, 0.5));
}
.card:hover{
  
  transform: scale(1.1);
}

.card-title {
  color: #fff;
  font-size: 18px;
  width: 325px;
  font-weight: 400;
  margin: 15px 10px;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
}

@media (max-width: 650px) {
  .card {
    width: 335px;
    height: 255px;
    margin: 10px 0;
  }

  .cards-container {
    margin-top: 10px;
  }

  .card-title {
    font-size: 14px;
  }
}